<a href="https://colab.research.google.com/github/faisalmoinuddin99/01/blob/master/DAY_2_Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
b = [1,2,3]

In [2]:
print(b)

[1, 2, 3]

Introspection:

? - Using this question mark before or after any variable will display some general information about the object

In [5]:
?print

In [7]:
?b

# Variables

In [8]:
 a = 5
 b = 6
 c = a + b
 print(c)

11

### Rules for declaring variables

In [11]:
# 1. variable should starts with alphabet.

s = 90

In [12]:
# 2. there should be no space in variable
# 3. variable should not contain special character
# 4. ' _ ' can be used in variables

# Data Types

In [13]:
# 1. Numerical
# A. Integer
# B. Floating Point

# 2. String

In [15]:
var1 = "I am string variable"
type(var1)

str

In [16]:
pi = 3.14
type(pi)

float

In [17]:
count = 7
type(count)

int

In [21]:
num1 = 10
num2 = 98
addition = num1 + num2
print(f"Addition - {addition}")

Addition - 108

In [22]:
def add_two_number(a, b):
  """
    Add two number togther

    Returns
    -------
    the_sum : type of arguments
  """
  return a+b

In [25]:
add_two_number??

In [24]:
print(add_two_number(10,20))

30

In [27]:
def f(x,y,z):
  return (x + y) / z


a = 5
b = 6
c = 7.5

result = f(a,b,c)
print(result)

1.4666666666666666

In [31]:
lst = [1,3,4]
for i in lst:
  print(f"{i}\t")

1
3
4

In [32]:
a=10 ; b = 11 ; c =66

In [33]:
lst1 = [1,4,5]
lst2 = lst1
print(lst2)

[1, 4, 5]

In [34]:
lst2.append(8)
print(lst1)

[1, 4, 5, 8]

In [36]:
def append_element(list_of_data, data):
  list_of_data.append(data)

In [37]:
append_element(lst1, 10)
print(lst2)

[1, 4, 5, 8, 10]

In [38]:
isinstance(lst, list)

True

In [39]:
isinstance(lst, int)

False

In [40]:
# Type of print statment
# 1. comma separated

print('My name is foo')

My name is foo

In [43]:
name='faisal'
print('my name is ',name)

my name is  faisal