<a href="https://colab.research.google.com/github/faisalmoinuddin99/01/blob/master/Day_5_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given a list `numbers = [2, 4, 6, 8, 10]`, extract
the sub-list `[4, 6]`.

In [2]:
numbers = [2, 4, 6, 8, 10]
numbers[1:3]

[4, 6]

2. Create an empty list called `shopping_list`.Add
items like "milk", "eggs", and "bread".

In [3]:
shopping_list=[]

shopping_list.append('milk')
shopping_list.append('eggs')
shopping_list.append('bread')

In [4]:
shopping_list

['milk', 'eggs', 'bread']

3. Given a list `languages = ["Python", "Java",
"C++"]`, add "JavaScript" at index 1.

In [5]:
languages = ["Python","Java","C++"]

In [6]:
languages

['Python', 'Java', 'C++']

In [7]:
languages.insert(1,"JavaScript")
languages

['Python', 'JavaScript', 'Java', 'C++']

4. Extend the list `[1, 2, 3]` with the elements `[4,
5, 6]`.

In [10]:
lst1 = [1,2,3]
lst2 = [4,5,6]

lst1

[1, 2, 3]

In [11]:
lst2

[4, 5, 6]

In [12]:
lst1.extend(lst2)

In [13]:
lst1

[1, 2, 3, 4, 5, 6]

5. Remove the element "banana" from the list
`fruits = ["apple", "banana", "cherry"]`.

In [14]:
fruits = ["apple","banana","cherry"]
fruits

['apple', 'banana', 'cherry']

In [15]:
fruits.remove("banana")

In [16]:
fruits

['apple', 'cherry']

6. Given a list `names = ["Alice", "Bob", "Charlie"]`,
remove and print the last element.

In [17]:
names = ["Alice","Bob","Charlie"]
names

['Alice', 'Bob', 'Charlie']

In [18]:
last_element = names.pop()

In [19]:
last_element

'Charlie'

7. Count how many times the number 5 appears
in the list `numbers = [2, 5, 8, 5, 3, 5]`.

In [20]:
numbers = [2,5,8,5,3,5]
numbers

[2, 5, 8, 5, 3, 5]

In [21]:
numbers.count(5)

3

8. Sort the list of integers `numbers = [5, 2, 8, 1,
3]` in ascending order.

In [22]:
numbers = [5,2,8,1,3]
numbers

[5, 2, 8, 1, 3]

In [23]:
numbers.sort()

In [24]:
numbers

[1, 2, 3, 5, 8]

9. Reverse the list of integers `numbers = [5, 2, 8,
1, 3]`.

In [25]:
numbers = [5,2,8,1,3]

numbers

[5, 2, 8, 1, 3]

In [26]:
numbers.reverse()

In [27]:
numbers

[3, 1, 8, 2, 5]

10. Create a list of strings `fruits = ["apple",
"banana", "cherry", "date"]`.Get the last two
elements.

In [28]:
fruits = ["apple","banana","cherry","date"]
fruits

['apple', 'banana', 'cherry', 'date']

In [29]:
fruits[-2:]

['cherry', 'date']

11. Add the list `[8, 9, 10]` to the list `[1, 2, 3, 4, 5]`
to get a combined list.

In [30]:
lst1 = [8,9,10]
lst2 = [1,2,3,4,5]

In [31]:
lst1

[8, 9, 10]

In [32]:
lst2

[1, 2, 3, 4, 5]

In [33]:
lst1.extend(lst2)

In [34]:
lst1

[8, 9, 10, 1, 2, 3, 4, 5]

12. Add the number 7 at the beginning of the list
`[1, 2, 3, 4]`.

In [35]:
lst1 = [1,2,3,4]
lst1

[1, 2, 3, 4]

In [36]:
lst1.insert(0,7)

lst1

[7, 1, 2, 3, 4]

13. Given a list `numbers = [5, 10, 15, 20]`, remove
the number 15 .

In [37]:
numbers = [5,10,15,20]

numbers

[5, 10, 15, 20]

In [38]:
numbers.remove(15)

In [39]:
numbers

[5, 10, 20]

16. Given a list `colors = ["red", "green", "red",
"blue", "red"]`, count the occurrences of the string
"red".

In [40]:
colors = ["red", "green", "red", "blue", "red"]

colors

['red', 'green', 'red', 'blue', 'red']

In [41]:
colors.count('red')

3

17. Given a list of strings `names = ["John",
"Alice", "Bob", "Eve"]`, sort it alphabetically.

In [42]:
names = ["John", "Alice", "Bob", "Eve"]
names

['John', 'Alice', 'Bob', 'Eve']

In [43]:
names.sort()

In [44]:
names

['Alice', 'Bob', 'Eve', 'John']

18. Given a list of strings `names = ["John",
"Alice", "Bob", "Eve"]`, reverse the order of
elements.

In [45]:
names= ["John", "Alice", "Bob", "Eve"]

In [46]:
names.reverse()

In [47]:
names

['Eve', 'Bob', 'Alice', 'John']

19. Using slicing, reverse the order of elements in
the list `letters = ['a', 'b', 'c', 'd', 'e']`.

In [48]:
letters = ['a', 'b', 'c', 'd', 'e']

In [49]:
letters

['a', 'b', 'c', 'd', 'e']