<a href="https://colab.research.google.com/github/faisalmoinuddin99/01/blob/master/Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List, Set, and Dict Comprehensions

In [ ]:
strings = ['a','as','bat','dove','car','python']

In [ ]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'DOVE', 'CAR', 'PYTHON']

In [ ]:
[x.lower() for x in strings]

['a', 'as', 'bat', 'dove', 'car', 'python']

# Question 1: Squares of Even Numbers

In [ ]:
x = [4, 16, 36, 64, 100]

In [ ]:
[i**2 for i in x]

[16, 256, 1296, 4096, 10000]

# Question 2: Vowel Counter

In [ ]:
text = "Hello, how are you?"

In [ ]:
vowels = ['a','e','i','o','u']

In [ ]:
vowelsCounter = sum(1 for char in text.lower() if char in vowels)

In [ ]:
vowelsCounter

7

# consonant Counter

In [ ]:
characters_to_ignore = [' ', ',', '?', '!']

In [ ]:
filtered_text = ''.join(char for char in text.lower() if char not in characters_to_ignore)

In [ ]:
filtered_text

'hellohowareyou'

In [ ]:
consonantCounter1 = [x for x in filtered_text if x not in vowels]

In [ ]:
consonantCounter1

['h', 'l', 'l', 'h', 'w', 'r', 'y']

In [ ]:
len(consonantCounter1)

7

In [ ]:
consonantCounter2 = sum(1 for x in filtered_text if x not in vowels)

In [ ]:
consonantCounter2

7

# Question 3: Nested List Flattening

In [ ]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [ ]:
flattered_list = [upper_list for sub_list in nested_list for upper_list in sub_list]

In [ ]:
# fetch only odd numbers

[odd_no for odd_no in flattered_list if odd_no % 2 != 0]

[1, 3, 5, 7, 9]

In [ ]:
# fetch only even numbers
[even_no**2 for even_no in flattered_list if even_no % 2 == 0]

[4, 16, 36, 64]

In [ ]:
'''
Question 1: Filtering Numbers

Generate a list of squares of numbers from 1 to 10, but only include those that are divisible by 3.
'''

'\nQuestion 1: Filtering Numbers\n\nGenerate a list of squares of numbers from 1 to 10, but only include those that are divisible by 3.\n'

In [ ]:
[x**2 for x in range(1,11) if x % 3 == 0]

[9, 36, 81]

In [ ]:
'''
Question 2: Uppercase Vowels

Given a string, create a list containing the uppercase version of vowels present in the string.
'''

In [ ]:
text = "Python is awesome"

In [ ]:
[x for x in text.upper() if x not in 'AEIOU' and x not in characters_to_ignore]

['P', 'Y', 'T', 'H', 'N', 'S', 'W', 'S', 'M']

In [ ]:
sum(1 for x in text.upper() if x not in 'AEIOU' and x not in characters_to_ignore)

9

# Nested list comprehensions

In [ ]:
all_data = [['Mery','Jhon','Emily','Michael','Steven'],['Maria','Juan','Javier','Natalia','Pilar']]

In [ ]:
all_data

[['Mery', 'Jhon', 'Emily', 'Michael', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [ ]:
[english for spanish in all_data for english in spanish]

['Mery',
 'Jhon',
 'Emily',
 'Michael',
 'Steven',
 'Maria',
 'Juan',
 'Javier',
 'Natalia',
 'Pilar']

In [ ]:
some_tuple = [(1,2,3),(4,5,6),(7,8,9)]

type(some_tuple)

list

In [ ]:
[x for y in some_tuple for x in y if x % 2 == 0]

[2, 4, 6, 8]